<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer-redux/polymer-redux.html">
<script src="../../node_modules/redux/dist/redux.js"></script>

<script>
    const initialState = {
        // Persisted in session storage
        isLogged: false,
        user: undefined,
        token: undefined,
        selectedAccountId: undefined,

        // Persisted in local storage
        deviceId: undefined,
        customerId: undefined,
        customerName: undefined,
        automaticLogin: undefined,

        // Not persisted
        signRequest: undefined,
    };

    const saveState = (currentState) => {
        const stateToSaveToLStorage = {
            deviceId: currentState.deviceId,
            customerId: currentState.customerId,
            customerName: currentState.customerName,
            automaticLogin: currentState.automaticLogin
        }
        localStorage.setItem('app-state', JSON.stringify(stateToSaveToLStorage));

        const stateToSaveToSStorage = {
            isLogged: currentState.isLogged,
            user: currentState.user,
            token: currentState.token,
            selectedAccountId: currentState.selectedAccountId
        }
        sessionStorage.setItem('app-state', JSON.stringify(stateToSaveToSStorage));
    }

    const readState = (currentState) => {
        const localState = JSON.parse(localStorage.getItem('app-state'));
        const sessionState = JSON.parse(sessionStorage.getItem('app-state'));
        if (localState || sessionState) {
            return Object.assign({}, localState, sessionState);
        }
    }

    const reducer = (state, action) => {
        if (!state) {
            const localState = readState();
            console.log('LocalState ', localState);
            return (localState) ? Object.assign({}, initialState, localState) : initialState;
        }

        let result;

        switch (action.type) {
            case 'LOGIN_SUCCESS':
            case 'REGISTER_SUCCESS':
                result = Object.assign({}, state, {
                    isLogged: true, user: action.user, token: action.token,
                    customerId: action.customerId, customerName: action.customerName, deviceId: action.deviceId, automaticLogin: action.automaticLogin
                });
                break;
            case 'LOGIN_FAIL':
            case 'REGISTER_FAIL':
            case 'LOGOUT':
                result = Object.assign({}, state, { isLogged: false, user: undefined, token: undefined });
                break;
            case 'FORGET_USER':
                result = Object.assign({}, state, {
                    user: undefined, token: undefined, customerId: undefined, customerName: undefined, deviceId: undefined, automaticLogin: undefined
                });
                break;
            case 'ACCOUNT_SELECTED':
                result = Object.assign({}, state, { selectedAccountId: action.accountId });
                break;
            case 'AUTOMATIC_LOGIN_ACTIVATED':
                result = Object.assign({}, state, { automaticLogin: action.automaticLogin });
                break;
            case 'SIGN_REQUEST_START':
                result = Object.assign({}, state, { signRequest: action.signRequest });
                break;
            case 'SIGN_REQUEST_END':
                result = Object.assign({}, state, { signRequest: undefined });
                break;

            // Only for unit tests
            case 'TEST':
                result = Object.assign({}, state, action.state);
                break;
        }

        console.log('Redux State');
        console.log(result);

        result = (result) ? result : Object.assign({}, state);
        saveState(result);

        return result;
    };

    // Create a Redux store
    const store = Redux.createStore(reducer);
    const ReduxMixin = PolymerRedux(store);
</script>