<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="app-header.html">

<dom-module id="app-nav">

  <template>

    <iron-media-query query="max-width: 767px" query-matches="{{_smallScreen}}"></iron-media-query>

    <app-header
        app-title="[[appTitle]]"
        page="[[page]]"
        categories="[[categories]]"
        category="[[category]]"
        small-screen="[[_smallScreen]]"
        drawer-opened="{{_drawerOpened}}">
      <slot></slot>
    </app-header>

    <!--
      Lazy-create the drawer on small viewports.
    -->
    <dom-if if="[[_shouldRenderDrawer(_smallScreen, loadComplete)]]">
      <template>
        <app-drawer
            categories="[[categories]]"
            category="[[category]]"
            drawer-opened="{{_drawerOpened}}">
        </app-drawer>
      </template>
    </dom-if>


  </template>

  <script>

    class AppNav extends Polymer.Element {

      static get is() { return 'app-nav'; }

      static get properties() { return {

        appTitle: String,

        page: String,

        categories: Array,

        category: Object,

        loadComplete: Boolean,

        _smallScreen: Boolean,

        _drawerOpened: Boolean

      }}

      closeDrawer() {
        this._drawerOpened = false;
      }

      _shouldRenderDrawer(smallScreen, loadComplete) {
        return smallScreen && loadComplete;
      }

    }

    customElements.define(AppNav.is, AppNav);

  </script>

</dom-module>
