<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="./redux/redux-mixin.html">

<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">


<link rel="import" href="./user-login.html">
<link rel="import" href="./user-register.html">
<link rel="import" href="./user-session.html">
<link rel="import" href="./page-not-found.html">

<dom-module id="app-main">
  <template>
    <style>
      .outer {
        width: 100%;
        height: 100%;
        @apply(--layout-vertical);
        @apply(--layout-flex);
      }

      .inner {
        @apply(--layout-flex);
        @apply(--layout-vertical);
      }

      .content {
        @apply(--layout-flex);
      }

      #toastError {
        --paper-toast-background-color: #CC0000;
        --paper-toast-color: white;
        --paper-font-common-base: {
          font-size: 20px;
        }
      }

      #toastInfo {
        --paper-toast-background-color: #007E33;
        --paper-toast-color: white;
        --paper-font-common-base: {
          font-size: 20px;
        }
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>

    <div class="outer">
      <iron-pages class="inner" role="main" selected="[[routeData.page]]" attr-for-selected="name" selected-attribute="visible"
        fallback-selection="login">
        <user-login class="content" name="login" route="{{route}}"></user-login>
        <user-register class="content" name="register" route="{{route}}"></user-register>
        <user-session class="content" name="session" route="{{subroute}}"></user-session>
    </div>
    </iron-pages>
    </div>

    <paper-toast id="toastInfo" class="fit-bottom" duration=5000></paper-toast>
    <paper-toast id="toastError" class="fit-bottom" duration=5000></paper-toast>
  </template>

  <script>
    class AppMain extends ReduxMixin(Polymer.Element) {
      static get is() { return 'app-main'; }
      static get properties() {
        return {
          appTitle: String,
          page: {
            type: String
          },
          route: Object,
          routeData: Object,
          offline: {
            type: Boolean,
            value: false,
            readOnly: true
          },
          failure: Boolean,
          loadComplete: Boolean,
          isLogged: {
            type: Boolean,
            statePath: 'isLogged',
          }
        }
      }

      connectedCallback() {
        super.connectedCallback();
        document.addEventListener('toastError', (e) => {
          this.$.toastError.text = e.detail;
          this.$.toastError.open();
        });

        document.addEventListener('toastInfo', (e) => {
          this.$.toastInfo.text = e.detail;
          this.$.toastInfo.open();
        });
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        document.removeEventListener('toastError');
        document.removeEventListener('toastInfo');
      }

      static get observers() {
        return [
          '_loginChanged(isLogged)',
          '_pathChanged(route.path)',
        ]
      }

      _loginChanged(isLogged) {
        if (!isLogged && this._isSessionPath()) {
          this.set('route.path', '/login/');
        } else if (isLogged && !this._isSessionPath()) {
          this.set('route.path', '/session/');
        }
      }

      _pathChanged() {
        console.log('_pathChanged');
        if (this.isLogged && !this._isSessionPath()) {
          this.set('route.path', '/session/');
        }
      }

      _isSessionPath() {
        return this.route.path.includes('session');
      }
    }

    window.customElements.define(AppMain.is, AppMain);
  </script>
</dom-module>