<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="./mixins/session-mixin.html">

<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<!-- Pages -->
<link rel="import" href="./user-accounts.html">
<link rel="import" href="./user-account.html">
<link rel="import" href="./user-history.html">

<dom-module id="user-session">
  <template>
    <style>
      :host {
        display: block;
      }

      app-header {
        color: #fff;
        background-color: #003DB3;

        --app-header-background-front-layer: {
          background-image: url('./resources/img/login-background.jpg');
          background-position: 50% 10%;
        }
      }

      .user {
        font-size: 17px;
      }

      paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .menu {
        padding-left: 16px;
      }

      ul {
        list-style: none;
      }
    </style>

    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>

    <app-drawer-layout force-narrow>
      <app-drawer opened="{{drawerOpened}}" slot="drawer">
        <div class="menu">
          <h3>Menu</h3>
          <p><a class="list-group-item" on-click="onMenuAccounts">Accounts</a></p>
          <p>Security</p>
          <ul>
            <li on-click="onMenuHistory">Account Activity</li>
          </ul>
        </div>

      </app-drawer>
      <app-header-layout>
        <app-header condenses fixed effects="blend-background parallax-background resize-title" slot="header">
          <app-toolbar>
            <dom-if if="{{_showBackButton(routeData.page)}}">
              <template>
                <paper-icon-button icon="icons:arrow-back" on-click="onBackButton"></paper-icon-button>
              </template>
            </dom-if>
            <dom-if if="{{!_showBackButton(routeData.page)}}">
              <template>
                <paper-icon-button icon="icons:menu" on-click="onMenu"></paper-icon-button>
              </template>
            </dom-if>
            <div condensed-title>[[title]] BBVA</div>
            <label class="user">[[user.first_name]] [[user.last_name]]</label>
            <paper-icon-button icon="icons:power-settings-new" title="Logout" on-click="doLogout"></paper-icon-button>
          </app-toolbar>
          <app-toolbar></app-toolbar>
          <app-toolbar>
            <div main-title spacer>[[title]]</div>
          </app-toolbar>
        </app-header>

        <dom-if if="[[visible]]">
          <template>
            <iron-pages role="main" selected="[[routeData.page]]" attr-for-selected="name" selected-attribute="visible"
              fallback-selection="posglobal">
              <user-accounts name="posglobal" route={{route}}></user-accounts>
              <user-account name="account" route={{route}}></user-account>
              <user-history name="history" route={{route}}></user-history>
            </iron-pages>
          </template>
        </dom-if>

        <paper-alert-dialog id="signDialogS1" dismiss-button="Cancel" confirm-button="Accept" on-confirm="onConfirmSignS1"
          on-dismiss="onDismissSign">
          <paper-alert-dialog-icon-header icon="icons:info-outline"></paper-alert-dialog-icon-header>
          <span style="font-size: 16px">Please, enter the <strong>code</strong> sent to your <strong>email account</strong></span>
          <paper-input id="inputOTP" label="Value" type="password" required auto-validate error-message="Enter your code"
            value="{{otp::input}}" invalid="{{invalidOTP}}"></paper-input>
        </paper-alert-dialog>

        <paper-alert-dialog id="signDialogS4" dismiss-button="Cancel" confirm-button="Accept" on-confirm="onConfirmSignS4"
          on-dismiss="onDismissSign">
          <paper-alert-dialog-icon-header icon="icons:info-outline"></paper-alert-dialog-icon-header>
          <span style="font-size: 16px">Please, enter your <strong>password</strong> to sign operation</span>
          <paper-input id="inputPasword" label="Value" type="password" required auto-validate error-message="Enter your code"
            value="{{password::input}}" invalid="{{invalidPassword}}"></paper-input>
        </paper-alert-dialog>

      </app-header-layout>
    </app-drawer-layout>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserSession extends SessionMixin {
      static get is() { return 'user-session'; }
      static get properties() {
        return {
          route: {
            type: Object
          },
          routeData: {
            type: Object
          },
          title: {
            type: String,
            computed: 'computeTitle(routeData)'
          },
          visible: {
            type: Boolean,
            value: false,
            observer: '_visibleChanged'
          },
          user: {
            type: Object,
            statePath: 'user',
          },
          drawerOpened: Boolean,
          signRequest: {
            type: Object,
            statePath: 'signRequest',
            observer: '_signRequestChanged'
          },
          otp: String,
          invalidOTP: Boolean,
          password: String,
          invalidPassword: Boolean,
        };
      }

      computeTitle(routeData) {
        switch (routeData.page) {
          case 'account':
            return 'Transfers';
          case 'history':
            return 'Your account activity';
          default:
            return 'Your accounts';
        }
      }

      _visibleChanged(visible) {
        if (visible) {
          console.log('user-session.html visible');
        }
      }

      _showBackButton(page) {
        return page == 'account';
      }

      static get actions() {
        return {
          logout: () => {
            return {
              type: 'LOGOUT'
            };
          }
        }
      }

      onBackButton() {
        console.log('Back');
        window.history.back();
      }

      onMenu() {
        console.log('Menu');
        this.drawerOpened = !this.drawerOpened;
      }

      onMenuAccounts() {
        this.drawerOpened = false;
        this.set('route.path', '/');
      }

      onMenuHistory() {
        this.drawerOpened = false;
        this.set('route.path', '/history');
      }

      doLogout() {
        this.dispatch('logout');
      }

      _signRequestChanged(signRequest) {
        console.log(signRequest);
        if (signRequest && signRequest.types == 'S1') {
          if (!signRequest.state) {
            this.signRequest.ajax.headers['sign-type'] = 'S1';
            this.signRequest.ajax.generateRequest();
          }
          this.$.signDialogS1.open();
        } else if (signRequest && signRequest.types == 'S4') {
          if (!signRequest.state) {
            this.signRequest.ajax.headers['sign-type'] = 'S4';
            this.signRequest.ajax.generateRequest();
          }
          this.$.signDialogS4.open();
        } else {
          this.$.signDialogS1.close();
        }
      }

      onConfirmSignS1() {
        console.log(this.otp);
        this.signRequest.ajax.headers['sign-type'] = 'S1';
        this.signRequest.ajax.headers['sign-state'] = this.signRequest.state;
        this.signRequest.ajax.headers['sign-data'] = this.otp;
        this.signRequest.ajax.generateRequest();
        this.otp = "";
      }

      onConfirmSignS4() {
        console.log(this.password);
        this.signRequest.ajax.headers['sign-type'] = 'S4';
        this.signRequest.ajax.headers['sign-state'] = this.signRequest.state;
        this.signRequest.ajax.headers['sign-data'] = this.password;
        this.signRequest.ajax.generateRequest();
        this.password = "";
      }

      onDismissSign() {
        this.sendSignRequestEnd();
      }
    }

    window.customElements.define(UserSession.is, UserSession);
  </script>
</dom-module>