<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="./mixins/session-mixin.html">

<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-fab-speed-dial/paper-fab-speed-dial.html">
<link rel="import" href="../bower_components/paper-fab-speed-dial/paper-fab-speed-dial-action.html">

<link rel="import" href="../bower_components/paper-alert-dialog/paper-alert-dialog.html">
<link rel="import" href="../bower_components/paper-alert-dialog/paper-alert-dialog-icon-header.html">
<link rel="import" href="../bower_components/geo-location/geo-location.html">

<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../bower_components/google-map/google-map-marker.html">

<dom-module id="user-account">
  <template>
    <style is="custom-style">
      :host {
        width: 100%;
      }

      paper-card {
        width: 100%;
      }

      .bottom-container {
        position: fixed;
        bottom: 10px;
        right: 10px;
      }

      .card-content h5 {
        font-size: 1.15rem;
      }

      .card-content h6 {
        color: gray;        
      }

      .transfersTable {
        margin-top: 22px;
      }

      .entry {
        --iron-icon-fill-color: green;
      }

      .refund {
        --iron-icon-fill-color: red;
      }

      .dialog {
        padding: 30px 20px 10px 20px;
      }

      .map-dialog {
        width: 50%;
        height: 50%;
        margin: 0px;
        overflow: hidden;
      }

      google-map {
        height: 100%;
        width: 100%;
        margin: 0px;
      }
    </style>

    <link rel="stylesheet" href="/frontend/resources/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

    <geo-location latitude="{{latitude}}" longitude="{{longitude}}"></geo-location>

    <paper-card heading="[[account.name]]">
      <div class="card-content">
        <h5>[[account.IBAN]]</h5>
        <h6>Balance: [[account.balance]] [[account.currency]]</h6>
        <div class="transfersTable">
          <template is="dom-repeat" items="[[account.transactions]]">
            <paper-icon-item>
              <dom-if if="[[_isRefund(item)]]">
                <template>
                  <iron-icon class="refund" icon="icons:trending-down" slot="item-icon"></iron-icon>
                </template>
              </dom-if>
              <dom-if if="[[_isEntry(item)]]">
                <template>
                  <iron-icon class="entry" icon="icons:trending-up" slot="item-icon"></iron-icon>
                </template>
              </dom-if>
              <paper-item-body two-line>
                <div class="font-weight-bold text-capitalize">[[item.amount]] [[account.currency]]</div>
                <div secondary>[[item.description]]</div>
              </paper-item-body>
              <dom-if if="[[_hasLocation(item)]]">
                <template>
                  <paper-icon-button icon="maps:map" on-click="showLocation"></paper-icon-button>
                </template>
              </dom-if>
            </paper-icon-item>
          </template>
        </div>
      </div>
    </paper-card>

    <div class="bottom-container">
      <paper-fab-speed-dial icon="icons:swap-vert">
        <paper-fab-speed-dial-action icon="icons:arrow-upward" on-click="openNewTransferDialog" data-type="entry">Add
          funds</paper-fab-speed-dial-action>
        <paper-fab-speed-dial-action icon="icons:compare-arrows" on-click="openNewTransferBetweenDialog" data-type="entry">Transfer
          between accounts</paper-fab-speed-dial-action>
        <paper-fab-speed-dial-action icon="icons:arrow-downward" on-click="openNewRefundDialog" data-type="refund">Withdraw</paper-fab-speed-dial-action>
      </paper-fab-speed-dial>
    </div>

    <paper-dialog class="dialog" id="newTransferDialog">
      <h3>Enter the amount you want to top up</h3>
      <paper-input id="inputTransfer" label="Amount" type="number" required auto-validate error-message="Enter the amount"
        value="{{transferAmount::input}}" invalid="{{invalidTransferAmount}}"></paper-input>
      <paper-input id="inputTransferDescription" label="Description" type="text" auto-validate error-message="Enter a description"
        value="{{transferDescription::input}}"></paper-input>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <button dialog-confirm class="btn btn-md btn-primary" type="button" on-click="sendTransfer" disabled$="{{invalidTransferAmount}}">Order</button>
      </div>
    </paper-dialog>

    <paper-dialog class="dialog" id="newRefundDialog">
      <h3>Enter the amount you want to refund</h3>
      <paper-input id="inputRefund" label="Amount" type="number" required auto-validate error-message="Enter the amount"
        value="{{refundAmount::input}}" invalid="{{invalidRefundAmount}}"></paper-input>
      <paper-input id="inputRefundDescription" label="Description" type="text" auto-validate error-message="Enter a description"
        value="{{refundDescription::input}}"></paper-input>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <button dialog-confirm class="btn btn-md btn-primary" type="button" on-click="sendRefund" disabled$="{{invalidRefundAmount}}">Order</button>
      </div>
    </paper-dialog>

    <paper-dialog class="dialog" id="newTransferBetweenDialog">
      <h3>Enter the amount and account you want to transfer to</h3>
      <paper-input id="inputTransferBetween" label="Amount" type="number" required auto-validate error-message="Enter the amount"
        value="{{transferBetweenAmount::input}}" invalid="{{invalidTransferBetweenAmount}}"></paper-input>
      <paper-dropdown-menu label="Account">
        <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{selectedTransferBetweenAccountIndex}}">
          <template is="dom-repeat" items="[[accounts]]">
            <paper-item>[[item.name]] - [[item.IBAN]]</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <button dialog-confirm class="btn btn-md btn-primary" type="button" on-click="sendTransferBetween" disabled$="{{invalidTransferBetween}}">Order</button>
      </div>
    </paper-dialog>

    <paper-dialog id="locationDialog" class="map-dialog">
      <google-map fit-to-markers api-key="AIzaSyCC-LFTmim8XZqe0N6YzgDVrFPbVZeYAk0" latitude="{{selectedLatitude}}"
        longitude="{{selectedLongitude}}">
        <google-map-marker latitude="{{selectedLatitude}}" longitude="{{selectedLongitude}}" draggable="true"></google-map-marker>
      </google-map>
    </paper-dialog>

    <iron-ajax id="getAccount" url="http://localhost:3000/apitechu/v2/accounts/[[selectedAccountId]]" method="GET"
      handle-as="json" on-response="onResponseGetAccount" on-error="onErrorGetAccount"></iron-ajax>
    
      <iron-ajax id="getAccountsAjax" url="http://localhost:3000/apitechu/v2/accounts" method="GET" handle-as="json"
      on-response="onResponseGetAccounts" on-error="onErrorGetAccountsAjax"></iron-ajax>
    
      <iron-ajax id="orderTransactionAjax" url="http://localhost:3000/apitechu/v2/accounts/[[selectedAccountId]]/transaction"
      method="POST" content-type="application/json" handle-as="json" on-response="onResponseSendTransaction" on-error="onErrorOrderTransactionAjax"></iron-ajax>
    
    <iron-ajax id="orderTransferAjax" url="http://localhost:3000/apitechu/v2/accounts/[[selectedAccountId]]/transfer"
      method="POST" content-type="application/json" handle-as="json" on-response="onResponseSendTransfer" on-error="onErrorOrderTransferAjax"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserAccount extends SessionMixin {
      static get is() { return 'user-account'; }
      static get properties() {
        return {
          account: Object,
          latitude: Number,
          longitude: Number,
          selectedLatitude: Number,
          selectedLongitude: Number,
          selectedAccountId: {
            type: String,
            statePath: 'selectedAccountId',
          },
          visible: {
            type: Boolean,
            value: false,
            observer: '_visibleChanged'
          },
          transferAmount: Number,
          transferDescription: String,
          invalidTransferAmount: {
            type: Boolean,
            value: true
          },
          refundAmount: Number,
          refundDescription: String,
          invalidRefundAmount: {
            type: Boolean,
            value: true
          },
          transferBetweenAmount: Number,
          invalidTransferBetweenAmount: {
            type: Boolean,
            value: true,
          },
          invalidTransferBetween: {
            type: Boolean,
            value: true,
            computed: '_isInvalidTransferBetween(invalidTransferBetweenAmount, selectedTransferBetweenAccountIndex)'
          },
          accounts: {
            type: Array,
            value: []
          },
          selectedTransferBetweenAccountIndex: Number
        };
      }

      _visibleChanged(visible) {
        if (visible) {
          console.log('user-account.html visible');
          this.getAccount();
        }
      }

      _isRefund(transaction) {
        return transaction.type == 'refund';
      }

      _isEntry(transaction) {
        return transaction.type == 'entry';
      }

      _hasLocation(transaction) {
        return (transaction.location) && (transaction.location.longitude) && (transaction.location.latitude);
      }

      _isInvalidTransferBetween(invalidTransferBetweenAmount, selectedTransferBetweenAccountIndex) {
        console.log(this.selectedTransferBetweenAccountIndex);
        return invalidTransferBetweenAmount || selectedTransferBetweenAccountIndex === undefined;
      }

      getAccount() {
        if (this.selectedAccountId) {
          console.log("getAccount request");
          this.$.getAccount.headers['x-access-token'] = this.token;
          this.$.getAccount.generateRequest();
        }
      }

      openNewTransferDialog() {
        this.transferAmount = undefined;
        this.transferDescription = '';
        this.$.newTransferDialog.open();
      }

      openNewTransferBetweenDialog() {
        this.getAccounts();
        this.transferBetweenAmount = undefined;
        this.$.newTransferBetweenDialog.open();
      }

      openNewRefundDialog() {
        this.refundAmount = undefined;
        this.refundDescription = '';
        this.$.newRefundDialog.open();
      }

      sendTransfer() {
        console.log("sendTransfer request");
        const transfer = {
          amount: this.transferAmount,
          description: this.transferDescription,
          type: "entry",
          location: {
            latitude: this.latitude,
            longitude: this.longitude
          }
        }

        this.$.orderTransactionAjax.body = JSON.stringify(transfer);
        this.sendAjaxRequest(this.$.orderTransactionAjax);
      }

      sendTransferBetween() {
        console.log("sendTransferBetween request");
        if (this.transferBetweenAmount > this.account.balance) {
          this._showToastError('You don\'t have enough money to satisfy your request!!');
          return;
        }

        const selectedTransferBetweenAccount = this.accounts[this.selectedTransferBetweenAccountIndex];

        const description = "Transfer from " + this.account.name + "(" + this.account.IBAN + ") to "
          + selectedTransferBetweenAccount.name + "-(" + selectedTransferBetweenAccount.IBAN + ")";

        console.log(description);

        const transfer = {
          amount: this.transferBetweenAmount,
          description,
          to: selectedTransferBetweenAccount.IBAN,
          location: {
            latitude: this.latitude,
            longitude: this.longitude
          }
        }

        this.$.orderTransferAjax.body = JSON.stringify(transfer);
        this.sendAjaxRequest(this.$.orderTransferAjax);
      }

      sendRefund() {
        console.log("sendRefund request");
        if (this.refundAmount > this.account.balance) {
          this._showToastError('You don\'t have enough money to satisfy your request!!');
          return;
        }

        const refund = {
          amount: this.refundAmount,
          description: this.refundDescription,
          type: "refund",
          location: {
            latitude: this.latitude,
            longitude: this.longitude
          }
        }

        this.$.orderTransactionAjax.body = JSON.stringify(refund);
        this.sendAjaxRequest(this.$.orderTransactionAjax);
      }

      getAccounts() {
        console.log("Get accounts request");
        this.sendAjaxRequest(this.$.getAccountsAjax);
      }

      onResponseGetAccounts(data) {
        super.onServerSuccess(this.$.getAccountsAjax);

        console.log("onResponseGetAccounts: ");
        console.log(data.detail.response);

        const filteredAccounts = data.detail.response.filter(account => account.IBAN != this.account.IBAN);
        this.set('accounts', filteredAccounts);
      }

      onErrorGetAccountsAjax(e) {
        super.onServerError(e, this.$.getAccountsAjax);
        console.log("onErrorGetAccountsAjax: ");
        console.log(this.$.getAccountsAjax);
      }

      showLocation(e) {
        console.log(e.model.item.location);

        this.set('selectedLatitude', e.model.item.location.latitude);
        this.set('selectedLongitude', e.model.item.location.longitude);
        this.$.locationDialog.open();
      }

      onResponseGetAccount(data) {
        super.onServerSuccess(this.$.getAccount);
        console.log("onResponseGetAccount");
        console.log('Account: ');
        console.log(data.detail.response);
        this.set('account', data.detail.response);
      }

      onErrorGetAccount(e) {
        super.onServerError(e, this.$.getAccount);
        console.log("onErrorGetAccount: ");
        console.log(this.$.getAccount);
      }

      onResponseSendTransfer(data) {
        super.onServerSuccess(this.$.orderTransferAjax);
        console.log("onResponseSendTransaction");
        console.log('Account: ');
        console.log(data.detail.response);
        this.set('account', data.detail.response);
      }

      onErrorOrderTransferAjax(e) {
        super.onServerError(e, this.$.orderTransferAjax);
        console.log("onErrorOrderTransferAjax: ");
        console.log(this.$.orderTransferAjax);
      }

      onResponseSendTransaction(data) {
        super.onServerSuccess(this.$.orderTransactionAjax);
        console.log("onResponseSendTransaction");
        console.log('Account: ');
        console.log(data.detail.response);
        this.set('account', data.detail.response);
      }

      onErrorOrderTransactionAjax(e) {
        super.onServerError(e, this.$.orderTransactionAjax);
        console.log("onErrorOrderTransactionAjax: ");
        console.log(this.$.orderTransactionAjax);
      }
    }

    window.customElements.define(UserAccount.is, UserAccount);
  </script>
</dom-module>