<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="./mixins/session-mixin.html">

<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-alert-dialog/paper-alert-dialog.html">
<link rel="import" href="../bower_components/paper-alert-dialog/paper-alert-dialog-icon-header.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-datatable-api/paper-datatable-api.html">
<link rel="import" href="../bower_components/paper-datatable-api/paper-datatable-api-column.html">

<link rel="import" href="../bower_components/ua-parser-js/dist/ua-parser.html">


<dom-module id="user-history">
  <template>
    <style>
      :host {
        display: block;
      }

      paper-fab {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 10000;
      }
    </style>

    <link rel="stylesheet" href="/frontend/resources/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

    <paper-datatable-api filters data="{{activity}}" on-sort="_handleSort">
      <paper-datatable-api-column header="Date" property="date" sortable>
        <template>
          <span>{{_formatDate(value)}}</span>
        </template>
      </paper-datatable-api-column>
      <paper-datatable-api-column header="IP Address" property="ip" sortable>
        <template>
          <span>{{_formatIP(value)}}</span>
        </template>
      </paper-datatable-api-column>
      <paper-datatable-api-column header="Device" property="userAgent" sortable>
        <template>
          <span>{{_parseUA(value)}}</span>
        </template>
      </paper-datatable-api-column>
    </paper-datatable-api>

    <!-- Requests-->
    <iron-ajax id="getHistory" url="http://localhost:3000/apitechu/v2/login/activity" method="GET" handle-as="json"
      on-response="onResponseGetHistory" on-error="onErrorGetHistory"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserHistory extends SessionMixin {
      static get is() { return 'user-history'; }
      static get properties() {
        return {
          route: {
            type: Object
          },
          visible: {
            type: Boolean,
            value: false,
            observer: '_visibleChanged'
          },
          activity: Object
        };
      }

      _visibleChanged(visible) {
        if (visible) {
          console.log('user-history.html visible');
          this.getHistory();

          console.log();
        }
      }

      _parseUA(userAgent) {
        const parsedUA = UAParser(userAgent);
        return parsedUA.os.name + ' / ' + parsedUA.browser.name + ' ' + parsedUA.browser.version;
      }

      _formatIP(ip) {
        return (ip.substr(0, 7) == "::ffff:") ? ip.substr(7) : ip;
      }

      _formatDate(date){
        return new Date(date).toUTCString();
      }

      _handleSort(event) {
        this.activity.sort(this._generateSortFn(event.detail.sort.property, event.detail.sort.direction == 'asc'));
        this.set('activity', [...this.activity]);
      }

      _generateSortFn(prop, reverse) {
        return function (a, b) {
          if (a[prop] < b[prop]) return reverse ? 1 : -1;
          if (a[prop] > b[prop]) return reverse ? -1 : 1;
          return 0;
        };
      }

      getHistory() {
        console.log("Get accounts request");
        this.$.getHistory.headers['x-access-token'] = this.token;
        this.$.getHistory.generateRequest();
      }

      onResponseGetHistory(data) {
        super.onServerSuccess(this.$.getHistory);
        console.log("onResponseGetHistory");
        console.log('History: ');
        console.log(data.detail.response);
        this.set('activity', data.detail.response);
      }

      onErrorGetHistory(e) {
        super.onServerError(e, this.$.getHistory);
        console.log("onErrorGetHistory: ");
        console.log(this.$.getHistory);
      }
    }

    window.customElements.define(UserHistory.is, UserHistory);
  </script>
</dom-module>