<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="./redux/redux-mixin.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="../bower_components/paper-password-input/match-passwords-validator.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/gold-password-input/gold-password-input.html">
<link rel="import" href="../bower_components/paper-alert-dialog/paper-alert-dialog.html">
<link rel="import" href="../bower_components/paper-alert-dialog/paper-alert-dialog-icon-header.html">

<script type="text/javascript" src="../bower_components/crypto-js/crypto-js.js"></script>

<dom-module id="user-register">
  <template>
    <style>
      :host {        
        background-image: url('./resources/img/login-background.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 10px;
      }
      .form-signup {        
        background: #ffffffef none repeat scroll 0 0;
        max-width: 430px;                
        margin: 10px auto 30px;        
        padding: 50px 70px 70px 71px;
        border-radius: 6px;
      }      
      .form-signup .checkbox {
        font-weight: 400;
      }
      .form-signup .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
      }
      .form-signup .form-control:focus {
        z-index: 2;
      }
      .form-signup .topCell {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .form-signup .middleCell  {
        margin-bottom: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .form-signup .bottomCell  {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .form-signup a {
        text-align: center;
        text-decoration: underline;
        text-decoration-color: grey;
      }
      
      paper-input {
        margin-bottom: 4px;
        --paper-input-container-label-floating: {          
        }
      }

      #remember-me {
        margin-top: 18px;
      }
    </style>

    <link rel="stylesheet" href="/frontend/resources/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

    <form class="form-signup">
      <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

      <paper-input id="inputEmail" label="Email address" type="email" required auto-validate error-message="Enter a valid email"
        value="{{email::input}}" invalid="{{invalidEmail}}"></paper-input>

      <paper-input id="inputFirstName" label="First name" type="text" required auto-validate error-message="Enter your first name"
        value="{{firstName::input}}" invalid="{{invalidFirstName}}"></paper-input>

      <paper-input id="inputLastName" label="Last name" type="text" required auto-validate error-message="Enter your last name"
        value="{{lastName::input}}" invalid="{{invalidLastName}}"></paper-input>

      <match-passwords-validator id="match-passwords-validator" password="[[password]]"></match-passwords-validator>

      <gold-password-input id="inputPassword1" label="Password" type="password" required auto-validate value="{{password}}"
        invalid="{{invalidPassword1}}" strength-meter reveal minlength="6" maxlength="50">
      </gold-password-input>

      <gold-password-input id="inputPassword2" label="Repeat password" type="password" required auto-validate invalid="{{invalidPassword2}}"
        validator="match-passwords-validator" error-message="Passwords need to match" reveal minlength="6" maxlength="50">
      </gold-password-input>

      <div id="remember-me" class="checkbox mb-3">
        <label>
          <input type="checkbox" value="{{remember_me::input}}"> Remember me
        </label>
      </div>

      <button id="registerButton" class="btn btn-lg btn-primary btn-block" type="button" on-click="_checkPasswordSecurity" disabled$="[[buttonDisabled]]">Sign
        up</button>

      <paper-alert-dialog id="passwordDialog" dismiss-button="Cancel" confirm-button="Accept" on-confirm="sendRegisterRequest">
        <paper-alert-dialog-icon-header icon="icons:info-outline"></paper-alert-dialog-icon-header>
        <span style="font-size: 16px">This password has been located <strong>{{passwordMatchs}}</strong> times in
          several public data leaks.</span>
        <span style="font-size: 16px"> It is not advisable to use it</span>
        </br>
        </br>
        <span style="font-size: 16px">Are you sure you want to use this password?</span>
      </paper-alert-dialog>

      <a href="/login">
        <p class="mt-3 mb-3 text-muted">Have already an account? Log in...</p>
      </a>
    </form>

    <iron-ajax id="registerAjax" url="http://localhost:3000/apitechu/v2/users" handle-as="json" content-type="application/json"
      method="POST" on-response="onRegisterSuccess" on-error="onRegisterError" debounce-duration="300" loading="{{loading}}">

      <iron-ajax id="checkPassword" method="GET" url="https://api.pwnedpasswords.com/range/{{headPassword}}" handle-as="text"
        on-response="_handleCheckPasswordSecurityResponse" debounce-duration="300" loading="{{loading}}">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserRegister extends ReduxMixin(Polymer.Element) {
      static get is() { return 'user-register'; }
      static get properties() {
        return {
          email: String,
          password: String,
          firstName: String,
          lastName: String,
          loading: {
            type: Boolean,
            value: false
          },
          invalidEmail: {
            type: Boolean,
            value: false
          },
          invalidFirstName: {
            type: Boolean,
            value: false
          },
          invalidLastName: {
            type: Boolean,
            value: false
          },
          invalidPassword1: {
            type: Boolean,
            value: false
          },
          invalidPassword2: {
            type: Boolean,
            value: false
          },
          buttonDisabled: {
            type: Boolean,
            value: true,
            computed: '_isButtonDisabled(loading, invalidEmail, invalidFirstName, invalidLastName, invalidPassword1, invalidPassword2)'
          },
          visible: {
            type: Boolean,
            value: false,
            observer: '_visibleChanged'
          },
          remember_me: {
            type: Boolean,
          },
          headPassword: String,
          passwordMatchs: {
            type: Number,
            value: 0
          }
        };
      }

      static get actions() {
        return {
          registerSuccess: (token) => {
            return {
              type: 'REGISTER_SUCCESS',
              token: token,
            };
          },
          registerFail: () => {
            return {
              type: 'REGISTER_FAIL'
            };
          }
        };
      }

      _checkPasswordSecurity() {
        var hashed = CryptoJS.SHA1(this.password).toString().toUpperCase();

        this.headPassword = hashed.substring(0, 5);
        console.log("checkPassword request");
        this.$.checkPassword.generateRequest();
      }

      _handleCheckPasswordSecurityResponse(data) {
        var hashed = CryptoJS.SHA1(this.password).toString().toUpperCase();
        var resto = hashed.substring(5);

        var lines = data.detail.response.split('\n');
        for (var i = 0; i < lines.length; i++) {
          if (resto == lines[i].split(':')[0]) {
            this.passwordMatchs = lines[i].split(':')[1];
            break;
          }
        }

        if (this.passwordMatchs > 0) {
          this.$.passwordDialog.open();
        } else {
          this.sendRegisterRequest();
        }
      }

      _visibleChanged(visible) {
        if (visible) {
          console.log('user-register.html visible');
        } else {
          this._clearInputFields();
        }
      }

      _clearInputFields() {
        this.$.inputEmail.value = undefined;
        this.$.inputEmail.invalid = false;
        this.$.inputFirstName.value = undefined;
        this.$.inputFirstName.invalid = false;
        this.$.inputLastName.value = undefined;
        this.$.inputLastName.invalid = false;
        this.$.inputPassword1.value = undefined;
        this.$.inputPassword1.invalid = false;
        this.$.inputPassword2.value = undefined;
        this.$.inputPassword2.invalid = false;
      }

      _isButtonDisabled(loading, invalidEmail, invalidFirstName, invalidLastName, invalidPassword1, invalidPassword2) {
        const isDisabled = (loading || invalidEmail || invalidFirstName || invalidLastName || invalidPassword1 || invalidPassword2
          || !this.$.inputEmail.value || !this.$.inputFirstName.value || !this.$.inputLastName.value
          || !this.$.inputPassword1.value || !this.$.inputPassword2.value);
        
        console.log(isDisabled);

        return isDisabled;
      }

      _validateForm() {
        return this.$.inputEmail.validate() && this.$.inputFirstName.validate() &&
          this.$.inputLastName.validate() && this.$.inputPassword1.validate() && this.$.inputPassword2.validate();
      }

      sendRegisterRequest() {
        if (this._validateForm()) {
          const registerData = {
            email: this.email,
            first_name: this.firstName,
            last_name: this.lastName,
            password: this.password,
            remember_me: this.remember_me
          }

          console.log("Register request");
          this.$.registerAjax.body = JSON.stringify(registerData);
          this.$.registerAjax.generateRequest();
        }
      }

      onRegisterSuccess(data) {
        console.log("Register response");
        console.log(data.detail.response);
        this._clearInputFields();
        this.dispatch('registerSuccess', data.detail.response.jwtToken);
      }

      onRegisterError(e) {
        console.log("Register error");
        const req = e.detail.request;

        if (req.status == 409) {
          this._showToastError('User already exists!!!');
          this.$.inputEmail.value = '';
          this.$.inputEmail.validate();
        } else if (req.status == 500) {
          this._showToastError('Please try it again later...');
        } else {
          console.warn(req.status);
        }

        this.dispatch('registerFail');
      }

      _showToastError(message) {
        this.dispatchEvent(new CustomEvent('toastError', { bubbles: true, composed: true, detail: message }));
      }
    }

    window.customElements.define(UserRegister.is, UserRegister);
  </script>
</dom-module>