<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="./redux/redux-mixin.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<dom-module id="user-login">
  <template>
    <style>
      :host {
        background-image: url('./resources/img/login-background.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 10px;
      }
      .form-signin {        
        background: #ffffffef none repeat scroll 0 0;
        max-width: 430px;                
        margin: 10px auto 30px;        
        padding: 50px 70px 70px 71px;
        border-radius: 6px;
      }
      .form-signin .checkbox {
        font-weight: 400;
      }
      .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
      }
      .form-signin .form-control:focus {
        z-index: 2;
      }
      .form-signin .topCell {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }      
      .form-signin .bottomCell  {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .form-signin a {
        text-align: center;
        text-decoration: underline;
        text-decoration-color: grey;
      }
      paper-input {
        margin-bottom: 4px;
        --paper-input-container-label-floating: {          
        }
      }      
      #remember-me {
        margin-top: 18px;
      }
    </style>

    <link rel="stylesheet" href="/frontend/resources/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

    <dom-if if="[[isLoginL1]]">
      <template>
        <form id="signin-L1" class="form-signin">
          <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

          <paper-input id="inputEmail" label="Email address" type="email" required auto-validate error-message="Enter a valid email"
            value="{{email::input}}" invalid="{{invalidEmail}}"></paper-input>

          <paper-input id="inputPassword" label="Password" type="password" required auto-validate error-message="Enter your password"
            value="{{password::input}}" invalid="{{invalidPassword}}"></paper-input>

          <div id="remember-me" class="checkbox mb-3">
            <label>
              <input type="checkbox" value="{{remember_me::input}}"> Remember me </input>
            </label>
          </div>

          <button class="btn btn-lg btn-primary btn-block" type="button" on-click="sendLoginRequest" disabled$="[[buttonDisabled]]">Sign
            in</button>

          <a href="/register">
            <p class="mt-3 mb-3 text-muted">Not registered? Create an account...</p>
          </a>
        </form>
      </template>
    </dom-if>

    <dom-if if="[[isLoginL2]]">
      <template>
        <form id="signin-L2" class="form-signin">
          <h1 id="welcomeBackText" class="h3 mb-3 font-weight-normal">Welcome back {{customerName}}!</h1>

          <label>Please insert your password</label>

          <paper-input id="inputPasswordL2" label="Password" type="password" required auto-validate error-message="Enter your password"
            value="{{password::input}}" invalid="{{invalidPasswordL2}}"></paper-input>
          </br>
          <button id="signInButton" class="btn btn-lg btn-primary btn-block" type="button" on-click="sendLoginRequestL2"
            disabled="{{buttonDisabledL2}}">Sign in</button>
          </br>
          <a href="#" on-click="forgetUser">
            <p class="mt-3 mb-3 text-muted">Not you? Click here...</p>
          </a>
        </form>
      </template>
    </dom-if>

    <dom-if if="[[isLoginL3]]">
      <template>
        <form id="signin-L3" class="form-signin">
          <h1 class="h3 mb-3 font-weight-normal">Welcome back {{customerName}}!</h1>
          </br>
          </br>
          <button class="btn btn-lg btn-primary btn-block" type="button" on-click="sendLoginRequestL3" disabled="{{buttonDisabledL3}}">Sign
            in</button>
          </br>
          <a href="#" on-click="forgetUser">
            <p class="mt-3 mb-3 text-muted">Not you? Click here...</p>
          </a>
        </form>
      </template>
    </dom-if>

    <iron-ajax id="loginAjax" url="http://localhost:3000/apitechu/v2/login" handle-as="json" content-type="application/json"
      method="POST" on-response="onLoginSuccess" on-error="onLoginError" debounce-duration="300" loading="{{loading}}">
  </template>

  <script>
    class UserLogin extends ReduxMixin(Polymer.Element) {
      static get is() { return 'user-login'; }
      static get properties() {
        return {
          route: Object,
          password: String,
          email: String,
          loading: {
            type: Boolean,
            value: false
          },
          invalidEmail: Boolean,
          invalidPassword: Boolean,
          buttonDisabled: {
            type: Boolean,
            value: true,
            computed: '_isButtonDisabled(loading, invalidEmail, invalidPassword)'
          },
          invalidPasswordL2: Boolean,
          buttonDisabledL2: {
            type: Boolean,
            value: true,
            computed: '_isButtonDisabledL2(loading, invalidPasswordL2)'
          },
          isLogged: {
            type: Boolean,
            statePath: 'isLogged',
          },
          isLoginL1: {
            type: Boolean,
            value: true,
            computed: '_isLoginL1(customerId, automaticLogin)'
          },
          isLoginL2: {
            type: Boolean,
            value: false,
            computed: '_isLoginL2(customerId, automaticLogin)'
          },
          isLoginL3: {
            type: Boolean,
            value: false,
            computed: '_isLoginL3(automaticLogin)'
          },
          remember_me: {
            type: Boolean,
          },
          visible: {
            type: Boolean,
            value: false,
            observer: '_visibleChanged'
          },
          customerName: {
            type: String,
            statePath: 'customerName',
          },
          customerId: {
            type: String,
            statePath: 'customerId',
          },
          automaticLogin: {
            type: String,
            statePath: 'automaticLogin',
          }
        };
      }

      static get actions() {
        return {
          loginSuccess: (user, token, customerId, customerName, deviceId, automaticLogin) => {
            return {
              type: 'LOGIN_SUCCESS',
              user: user,
              token: token,
              customerId: customerId,
              customerName: customerName,
              deviceId: deviceId,
              automaticLogin: automaticLogin
            };
          },
          loginFail: () => {
            return {
              type: 'LOGIN_FAIL'
            };
          },
          forgetUser: () => {
            return {
              type: 'FORGET_USER'
            };
          }
        };
      }

      _isLoginL1(customerId, automaticLogin) {
        console.log("islogin1 customerID " + customerId, " automaticLogin " + automaticLogin);
        return (automaticLogin == undefined && customerId == undefined);
      }

      _isLoginL2(customerId, automaticLogin) {
        console.log("islogin2 customerID " + customerId, " automaticLogin " + automaticLogin);
        return (automaticLogin == undefined && customerId != undefined);
      }

      _isLoginL3(automaticLogin) {
        console.log(" automaticLogin " + automaticLogin);
        return automaticLogin != undefined;
      }

      forgetUser() {
        console.log('forgetUser');
        this.dispatch('forgetUser');
      }

      _visibleChanged(visible) {
        if (visible) {
          console.log('user-login.html visible');
        } else {
          this._clearInputFields();
        }
      }

      _isButtonDisabled(loading, invalidEmail, invalidPassword) {
        return loading || invalidEmail || invalidPassword;
      }

      _isButtonDisabledL2(loading, invalidPasswordL2) {
        return loading || invalidPasswordL2;
      }

      _validateForm() {
        return this.shadowRoot.querySelector('#inputEmail').validate() && this.shadowRoot.querySelector('#inputPassword').validate();
      }

      _clearInputFields() {
        this.email = undefined;
        this.password = undefined;
        this.invalidEmail = false;
        this.invalidPassword = false;
        this.invalidPasswordL2 = false;        
      }

      sendLoginRequest() {
        if (this._validateForm()) {
          const loginData = {
            authenticationType: "L1",
            authenticationData: {
              email: this.email,
              password: this.password,
              remember_me: this.remember_me
            }
          }

          if (this.deviceId) {
            this.$.loginAjax.headers['Device-Id'] = this.deviceId;
          }

          this.$.loginAjax.body = JSON.stringify(loginData);
          this.$.loginAjax.generateRequest();
          console.log("Login L1 request");
        }
      }

      sendLoginRequestL2() {
        const inputPasswordL2 = this.shadowRoot.querySelector('#inputPasswordL2');
        if (inputPasswordL2.validate()) {
          const loginData = {
            authenticationType: "L2",
            authenticationData: {
              customerId: this.customerId,
              password: this.password
            }
          }

          if (this.deviceId) {
            this.$.loginAjax.headers['Device-Id'] = this.deviceId;
          }

          this.$.loginAjax.body = JSON.stringify(loginData);
          this.$.loginAjax.generateRequest();
          console.log("Login L2 request");
        }
      }

      sendLoginRequestL3() {
        const loginData = {
          authenticationType: "L3",
          authenticationData: {
            automaticLogin: this.automaticLogin
          }
        }

        if (this.deviceId) {
          this.$.loginAjax.headers['Device-Id'] = this.deviceId;
        }

        this.$.loginAjax.body = JSON.stringify(loginData);
        this.$.loginAjax.generateRequest();
        console.log("Login L3 request");
      }

      onLoginSuccess(data) {
        console.log("Login successful");
        console.log(data.detail.xhr.getResponseHeader('device-id'));

        const user = data.detail.response.user;
        const jwtToken = data.detail.response.jwtToken;
        const customerId = data.detail.response.customerId;
        const customerName = data.detail.response.customerName;
        const deviceId = data.detail.xhr.getResponseHeader('device-id');
        const automaticLogin = data.detail.xhr.getResponseHeader('automatic-login');

        this._clearInputFields();
        this.dispatch('loginSuccess', user, jwtToken, customerId, customerName, deviceId, automaticLogin);
      }

      onLoginError(e) {
        console.log("Login error");
        const req = e.detail.request;

        if (req.status == 400 || req.status == 403) {
          this._showToastError('Please, review your credentials...');
        } else if (req.status == 500) {
          this._showToastError('Please try it again later...');
        } else {
          console.warn(req.status);
        }

        this.dispatch('loginFail');
      }

      _showToastError(message) {
        this.dispatchEvent(new CustomEvent('toastError', { bubbles: true, composed: true, detail: message }));
      }
    }

    window.customElements.define(UserLogin.is, UserLogin);
  </script>
</dom-module>