<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="./mixins/session-mixin.html">

<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">

<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-fab-speed-dial/paper-fab-speed-dial.html">
<link rel="import" href="../bower_components/paper-fab-speed-dial/paper-fab-speed-dial-action.html">

<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-alert-dialog/paper-alert-dialog.html">
<link rel="import" href="../bower_components/paper-alert-dialog/paper-alert-dialog-icon-header.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="user-accounts">
  <template>
    <style>
      :host {
        display: block;
      }

      .bottom-container {
        position: fixed;
        bottom: 10px;
        right: 10px;
      }

      paper-fab {
        position: fixed;
        bottom: 26px;
        right: 26px;
      }

      #newAccountDialog {
        padding: 30px 20px 10px 20px;
      }
    </style>

    <link rel="stylesheet" href="/frontend/resources/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">


    <div class="list-group">
      <template is="dom-repeat" items="{{accounts}}">
        <paper-icon-item on-click="onAccountClick" data-item$="[[item]]">
          <iron-icon icon="icons:card-membership" slot="item-icon"></iron-icon>
          <paper-item-body two-line>
            <div>[[item.name]] - [[item.IBAN]]</div>
            <div secondary>Balance: [[item.balance]]</div>
          </paper-item-body>
        </paper-icon-item>
      </template>
    </div>

    <div class="bottom-container">
      <paper-fab-speed-dial icon="icons:add">
        <paper-fab-speed-dial-action icon="icons:add-box" on-click="_showNewAccountDialog">New Account</paper-fab-speed-dial-action>
        <paper-fab-speed-dial-action icon="icons:autorenew" on-click="_showActivateAutomaticLoginDialog" data-type="refund">Activate
          Automatic Login</paper-fab-speed-dial-action>
      </paper-fab-speed-dial>
    </div>

    <paper-dialog id="newAccountDialog">
      <h3>Create a new account</h3>
      <paper-input id="inputName" label="Account name" type="text" required auto-validate error-message="Enter your account name"
        value="{{accountName::input}}" invalid="{{invalidAccountName}}"></paper-input>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <button dialog-confirm class="btn btn-md btn-primary" type="button" on-click="addAccount" disabled$="{{invalidAccountName}}">Create</button>
      </div>
    </paper-dialog>

    <paper-alert-dialog id="activateAutomaticLoginDialog" dismiss-button="Cancel" confirm-button="Accept" on-confirm="activateAutomaticLoginAjax">
      <paper-alert-dialog-icon-header icon="icons:info-outline"></paper-alert-dialog-icon-header>

      <div>
        <span style="font-size: 16px">This functionality allows access to the account without credentials.</span>
      </div>
      <div>
        <span style="font-size: 16px">Please make sure that the browser is not public or shared.</span>
      </div>
      </br>
      <span style="font-size: 16px">Are you sure you want to activate Automatic Login?</span>
    </paper-alert-dialog>

    <!-- Requests-->
    <iron-ajax id="getAccountsAjax" url="http://localhost:3000/apitechu/v2/accounts" method="GET" handle-as="json"
      on-response="onResponseGetAccounts" on-error="onErrorGetAccountsAjax"></iron-ajax>

    <iron-ajax id="addAccountAjax" url="http://localhost:3000/apitechu/v2/accounts" method="POST" handle-as="json"
      content-type="application/json" on-response="onResponseAddAccount" on-error="onErrorAddAccount" on-error="onServerError"></iron-ajax>

    <iron-ajax id="activateAutomaticLogin" url="http://localhost:3000/apitechu/v2/automaticlogin" method="POST"
      handle-as="json" on-response="onResponseActivateAutomaticLogin" on-error="onErrorActivateAutomaticLogin"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserAccounts extends SessionMixin {
      static get is() { return 'user-accounts'; }
      static get properties() {
        return {
          route: {
            type: Object
          },
          accounts: {
            type: { type: Array, value: [] }
          },
          accountName: String,
          invalidAccountName: {
            type: Boolean,
            value: true,
          },
          visible: {
            type: Boolean,
            value: false,
            observer: '_visibleChanged'
          }
        };
      }

      static get actions() {
        return {
          accountSelected: (accountId) => {
            return {
              type: 'ACCOUNT_SELECTED',
              accountId: accountId,
            };
          },
          automaticLoginActivated: (token) => {
            return {
              type: 'AUTOMATIC_LOGIN_ACTIVATED',
              automaticLogin: token,
            };
          }
        };
      }

      _visibleChanged(visible) {
        if (visible) {
          console.log('user-accounts.html visible');
          this.getAccounts();
        }
      }

      _showNewAccountDialog() {
        this.accountName = '';
        this.$.newAccountDialog.open();
      }

      getAccounts() {
        console.log("Get accounts request");
        this.sendAjaxRequest(this.$.getAccountsAjax);
      }

      _showActivateAutomaticLoginDialog() {
        this.$.activateAutomaticLoginDialog.open();
      }


      onAccountClick(e) {
        const accountId = e.model.item._id;
        console.log('Selected account: ' + accountId);

        this.dispatch('accountSelected', accountId);
        this.set('route.path', '/account/' + accountId);
      }

      addAccount(e) {
        e.stopPropagation();
        console.log("Add account request");
        this.$.newAccountDialog.close();

        const newAccount = {
          accountName: this.accountName
        }

        this.$.addAccountAjax.body = JSON.stringify(newAccount);
        this.sendAjaxRequest(this.$.addAccountAjax);
      }

      activateAutomaticLoginAjax(e) {
        e.stopPropagation();
        console.log("Activate Automatic Login");
        this.sendAjaxRequest(this.$.activateAutomaticLogin);
      }

      onResponseGetAccounts(data) {
        super.onServerSuccess(this.$.getAccountsAjax);
        console.log("onResponseGetAccounts: ");
        console.log(data.detail.response);
        this.set('accounts', data.detail.response);
      }

      onErrorGetAccountsAjax(e) {
        super.onServerError(e, this.$.getAccountsAjax);
        console.log("onErrorGetAccountsAjax: ");
        console.log(this.$.getAccountsAjax);
      }

      onResponseAddAccount(data) {
        super.onServerSuccess(this.$.addAccountAjax);
        console.log("onResponseAddAccount: ");
        console.log(data.detail.response);
        this.getAccounts();
        this._showToastInfo('Braaavooo!!! Enjoy your new account...');
      }

      onErrorAddAccount(e) {
        super.onServerError(e, this.$.addAccountAjax);
        console.log("onErrorAddAccount: ");
        console.log(this.$.addAccountAjax);
      }

      onResponseActivateAutomaticLogin(data) {
        super.onServerSuccess(this.$.activateAutomaticLogin);
        console.log("onResponseActivateAutomaticLogin");
        // console.log(data.detail.xhr.getResponseHeader('automatic-login'));
        this.dispatch('automaticLoginActivated', data.detail.xhr.getResponseHeader('automatic-login'));
      }

      onErrorActivateAutomaticLogin(e) {
        super.onServerError(e, this.$.activateAutomaticLogin);
        console.log("onErrorActivateAutomaticLogin");
        // console.log(this.$.activateAutomaticLogin);
      }
    }

    window.customElements.define(UserAccounts.is, UserAccounts);
  </script>
</dom-module>