<html>
<head><title>Confirma tu dirección de Email</title></head>
<body>
  <h1>Click this!</h1>
  <p>
      Estás a un paso para validar tu dirección de Email. Por favor, haz click en el siguiente enlace
    <a href="{{challenge}}">{{challenge}}</a>
  </p>
</body>
</html>