<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Magic Bank</title>
</head>

<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" class="kyfe-body">
    <table class="kyfe-tabla-principal" cellspacing="0" cellpadding="0" border="0" align="center">
        <!--HEADER-->
        <!-- FOTO HEADER -->
        <!-- Copy1 -->
        <tr>
            <td align="center" bgcolor="#002e65">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="30" class="kyfe-columna-relleno">&#160;</td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table width="85%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" class="kyfe-letra-cuerpo-titular-blanco" style="font-size:36px;line-height:39px;color:#ffffff;font-family:Helvetica,Arial,sans-serif">
                                        Ya tienes disponible la OTP para firmar la operación
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="20" class="kyfe-columna-relleno">&#160;</td>
                    </tr>
                    <tr>
                        <td height="20" class="kyfe-columna-relleno">&#160;</td>
                    </tr>
                    <tr>
                        <td height="30" class="kyfe-columna-relleno">&#160;</td>
                    </tr>
                    <tr>
                        <td align="center" bgcolor="#ffffff" height="40" class="kyfe-columna-relleno">&#160;</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td align="center">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" bgcolor="#ffffff">
                            <table width="85%" bgcolor="#f4f4f4" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="30" class="kyfe-columna-relleno">&#160;</td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" class="kyfe-letra-cuerpo-saludo">
                                                    <strong>La OTP para firmar la operación es:</strong>
                                                    <h1> {{otp}} </h1>
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td height="30" bgcolor="#ffffff" class="kyfe-columna-relleno">&#160;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>

        </tr>

        <tr>
            <td bgcolor="#001b45">
                <table align="center" bgcolor="#001b45" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td height="24" style="font-size:1px;line-height:1px"></td>
                        </tr>

                        <tr>
                            <td align="left">
                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse!important"
                                    width="95%">
                                    <tbody>
                                        <tr>
                                            <td align="left" width="24"> </td>
                                            <td style="font-family:Arial,Helvetica,sans-serif;font-size:10px;line-height:12px;color:#ffffff;text-align:left">
                                                Este mensaje ha sido enviado por un sistema automático. No es preciso
                                                responder directamente a este email.<br><br>Por motivos de seguridad,
                                                las claves son secretas y únicamente deben ser conocidas por el
                                                propietario. En ningún caso MagicBank solicitará por correo electrónico
                                                información de claves o de tarjetas de crédito. Se recomienda comprobar
                                                siempre la dirección
                                                que aparece en la barra de navegación.<br><br>Este mensaje, incluido
                                                cualquier archivo adjunto, pertenece de manera exclusiva al ámbito de
                                                la comunicación privada entre el Banco y el Cliente destinatario,
                                                pudiendo contener información confidencial y sujeta al secreto
                                                bancario.<br><br>Asimismo, informamos de que la distribución, copia o
                                                utilización de este mensaje, así como de cualquier archivo adjunto al
                                                mismo, están prohibidas por la ley, sea cual sea su finalidad. </td>
                                        </tr>
                                        <tr>
                                            <td height="60" style="font-size:1px;line-height:1px"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>