<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../redux/redux-mixin.html">

<dom-module id="session-mixin">
  <script>
    class SessionMixin extends ReduxMixin(Polymer.Element) {
      static get is() { return 'session-mixin'; }
      static get properties() {
        return {
          token: {
            type: Boolean,
            statePath: 'token',
          },
        };
      }

      _clearHeaders(ajax) {
        if (ajax && ajax.headers) {
          delete ajax.headers['sign-type'];
          delete ajax.headers['sign-state'];
          delete ajax.headers['sign-data'];
        }
      }

      sendAjaxRequest(ajax) {
        this._clearHeaders(ajax);

        ajax.headers['x-access-token'] = this.token;
        ajax.generateRequest();
      }

      onServerError(e, ajax) {
        let errorHandled = false;
        const req = e.detail.request;

        if (req.status == 401) {
          this.dispatch({ type: 'LOGOUT' });
          this._showToastError('Session expired!! Please, log in again...');
        } else if (req.status == 403 && req.xhr.getResponseHeader('Sign-Types')) {
          const signTypes = req.xhr.getResponseHeader('Sign-Types');
          const signState = req.xhr.getResponseHeader('Sign-State');
          console.log('Subida nivel ' + signTypes);
          this.sendSignRequestStart(signTypes, signState, ajax);
          return true;
        } else if (req.status == 403 && req.response.sign == false) {
          // TODO: hacer algo....
          console.log('SIGN NO OK');
        }
      }

      onServerSuccess(ajax) {
        this._clearHeaders(ajax);
        this.sendSignRequestEnd();
      }

      sendSignRequestStart(signTypes, signState, ajax) {
        this.dispatch({
          type: 'SIGN_REQUEST_START',
          signRequest: {
            types: signTypes,
            state: signState,
            ajax: ajax
          },
        });
      }

      sendSignRequestEnd() {
        this.dispatch({
          type: 'SIGN_REQUEST_END',
        });
      }

      _showToastError(message) {
        this.dispatchEvent(new CustomEvent('toastError', { bubbles: true, composed: true, detail: message }));
      }

      _showToastInfo(message) {
        this.dispatchEvent(new CustomEvent('toastInfo', { bubbles: true, composed: true, detail: message }));
      }
    }
    window.customElements.define(SessionMixin.is, SessionMixin);
  </script>
</dom-module>